@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  --main-color: #1e549f;
  --alt-color: #dda853;
}
:root {
  --font-cairo: "Nunito", sans-serif;
  --font-inter: "Asap", sans-serif;
}

html[lang="ar"] body {
  font-family: var(--font-cairo);
}

html[lang="en"] body {
  font-family: var(--font-inter);
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color);
}
.text-alt {
  color: var(--alt-color);
}
.bg-alt {
  background-color: var(--alt-color);
}
.swiper-pagination-bullet {
  transition-duration: 0.7s !important;
}
.swiper-pagination-bullet-active {
  padding-inline: 8px !important;
  border-radius: 4px !important;
  background-color: var(--alt-color) !important;
  border: 1px solid var(--main-color) !important;
}
