@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300;400;600;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  --main-color: #1e549f;
  --alt-color: #dda853;
}
:root {
  --font-cairo: "Tajawal", sans-serif;
  --font-inter: "Asap", sans-serif;
}

html[lang="ar"] body {
  font-family: var(--font-cairo);
}

html[lang="en"] body {
  font-family: var(--font-inter);
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color);
}
.text-alt {
  color: var(--alt-color);
}
.bg-alt {
  background-color: var(--alt-color);
}
.swiper-pagination-bullet {
  transition-duration: 0.7s !important;
}
.swiper-pagination-bullet-active {
  padding-inline: 8px !important;
  border-radius: 4px !important;
  background-color: var(--alt-color) !important;
  border: 1px solid var(--main-color) !important;
}
